.employees
    padding: 102px 0px

    @include desktop-small
        padding: 44px 0px

    @include tablet
        padding: 69px 0px

    @include mobile-big
        padding: 59px 0px

    @include mobile
        padding: 47px 0px

    .employees__wrapper
        display: flex
        flex-direction: column
        gap: 47px

        @include desktop-small
            gap: 25px

        @include tablet
            gap: 32px

        h2
            color: $white
            font-size: 40px

        .employees__items
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(250px, auto))
            gap: 43px

            @include tablet
                grid-template-columns: repeat(auto-fit, minmax(275px, auto))

            @include mobile-big
                grid-template-columns: repeat(auto-fit, minmax(300px, auto))

            .employees__item

                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 37px

                &:first-child
                    transition-delay: 0.2s

                &:nth-child(2)
                    transition-delay: 0.4s

                &:nth-child(3)
                    transition-delay: 0.6s

                &:last-child
                    transition-delay: 0.8s

                @include tablet
                    flex-direction: row
                    gap: 20px

                img
                    @include desktop-small
                        max-width: 160px

                    @include tablet
                        max-width: 120px

                    @include mobile
                        max-width: 128px

                .employees__info
                    display: flex
                    flex-direction: column
                    width: 100%

                    *
                        font-weight: 500
                        font-size: 20px

                        @include tablet
                            font-size: 12px

                        @include mobile-big
                            font-size: 14px

                        @include mobile
                            font-size: 12px

                    h3, span
                        color: $white
                        font-weight: 500
                        font-size: 20px

                    span
                        padding-top: 15px

                        @media (max-width: 1100px)
                            font-size: 14px

                    h3
                        @include tablet
                            font-size: 16px

                        @include mobile-big
                            font-size: 20px

                        @include mobile
                            font-size: 18px

                    a
                        padding-top: 5px
                        color: #1976D2
                        text-decoration: underline

                        @include tablet
                            font-size: 12px

                        @include mobile-big
                            font-size: 14px

                        @include mobile
                            font-size: 12px

                        &:hover
                            color: $yellow
